[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/glslang"]
	path = external/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "external/Vulkan-Headers"]
	path = external/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers/
[submodule "external/VulkanMemoryAllocator"]
	path = external/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
