build

web/build

# Android
src/android/.gradle
src/android/.idea

src/android/*.iml
src/android/.gradle
src/android/local.properties
src/android/.idea/caches
src/android/.idea/libraries
src/android/.idea/modules.xml
src/android/.idea/workspace.xml
src/android/.idea/navEditor.xml
src/android/.idea/assetWizardSettings.xml
src/android/.DS_Store
src/android/build
src/android/captures
src/android/.externalNativeBuild
src/android/.cxx
src/android/local.properties

src/android/.idea/shelf/
src/android/.idea/workspace.xml

src/android/app/.cxx/